.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  min-height: 60vh;
  background-color: steelblue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding: 20px 0;
}

.form-group {
  width: 50%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}

input, select {
  border-radius: 5px;
  padding: 5px 8px;
  width: 200px;
}

input {
  width: 200px;
}

select {
  width: 218px;
}

.message {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.tip {
  color: chartreuse;
}
